/*
	Author : Ender İMEN;
	E-mail : enderimen@hotmail.com;
	Date   : 30.01.2018;
*/

*{
	margin: 0;
	padding: 0;
}

input[type="text"]{
	border-radius: 5px;
	height: 50px;
	width: 60%;
}

.header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	flex-shrink: 1;
	color: #fff;
	background-color: #ff3d00;
}

.container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #e6ee9c;
}

.kutu{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 375px;
	width: 375px;
	margin: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px gray; 
	flex-grow: 1;
}

.kutu li{
	list-style-type: none;
	margin: 3px;
	border-style: solid;
}

.mavi{
	background-color: #90caf9;
}

.kirmizi{
	background-color: #ef9a9a;
}

.sari{
	background-color: #ffeb3b;
}

.turuncu{
	background-color: #ff7043;
}

.yesil{
	background-color: #d4e157;
}