<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Angular JS | Örnekler</title>
	
	<!--Js-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

		<script>
			var myController = angular.module("angular",[]);

			myController.controller("myControl",function ($scope,$http,$sce) {

				$scope.cumle = "Merhaba Angular"; 
				$scope.paragraf = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, similique."; 
				$scope.sayac = 0;

				$scope.isimler = [];

				$scope.kisiler = [
					{"ad":"Ender","borc":50},
					{"ad":"Ali","borc":150},
					{"ad":"Erdi","borc":555},
					{"ad":"Hakan","borc":20}];

				$scope.filtrele = function ($filtre) {
					
					$scope.isimler = $scope.kisiler.filter(function (a) {
						return a.borc < $filtre;
					});
				}

				$scope.ayristir=function ($veri) {

					$scope.tag = $sce.trustAsHtml($veri);			
			
				}

				$scope.mesaj = function () {

					alert("Angular js öğreniyorum!");
				}; 
				
				//URL si verilen adrese git işlem başarılı ise ilgili alanları çek 
				$http.get('https://jsonplaceholder.typicode.com/posts/1/comments').then(function (response) {
					$scope.veriler = response.data;
				})
			});
		</script>

		<script src="https://use.fontawesome.com/a97cb26257.js"></script>

		<script type="text/javascript" src="js/customize.js"></script>
	<!--Js End-->
	
	<!--CSS -->		
        <link rel="stylesheet" href="fonts/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
	<!--CSS End-->
</head>
<body ng-app="angular" ng-controller="myControl" ng-init="deger='angular kullanışlı bir js kütüphanesidir'">

	<div class="header">
		<h3>Angular JS Örnekleri</h3>
	</div>
	<div class="container">
		<div class="kutu mavi">
			
			<pre class="baslik">ng-model Kullanımı</pre>

			<p>Net Hesaplama</p>

			<input type="text" ng-model="dogruSayisi" placeholder="Doğru Sayısı">
			<input type="text" ng-model="yanlisSayisi" placeholder="Yanlış Sayısı">
			
			<p>Net Sayısı: {{dogruSayisi - yanlisSayisi/4}}</p>

		</div>
		<div class="kutu kirmizi">
			
			<pre class="baslik">ng-bind Kullanımı</pre>

			<p ng-bind="deger"></p><br>
			<input type="text" ng-value="deger"><br>

		</div>
		<div class="kutu sari">
			<pre class="baslik">ng-repeat & filter Kullanımı</pre>
			<input type="text" placeholder="Maillerde ara" ng-model="aranan">

			<ul>
				<li ng-repeat="data in veriler | filter:aranan">
					<span>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</span>{{data.email}}
				</li>
			</ul>
			<ul>
				<li ng-repeat="data in veriler">
					<span>
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>{{data.name}}
				</li>
			</ul>
		</div>

		<div class="kutu turuncu">
			<pre class="baslik">ng-click Kullanımı</pre>
			<input type="button" ng-click="mesaj()" value="Mesaj">
		</div>
		
		<div class="kutu yesil">
			<pre class="baslik">ng-style Kullanımı</pre>
			<p ng-style="sayac==5 && {'color':'white','background':'orange'}">Angular JS</p>

			<p>{{sayac}}</p>
			
			<input type="button" ng-click="sayac=sayac+1" value="Artır">
			<input type="button" ng-click="sayac=sayac-1" value="Azalt">
		</div>
		
		<div class="kutu mavi">
			<pre class="baslik">ng-bind-html Kullanımı</pre>
			<input type="text" placeholder="Ör:<h2>Angular</h2>" ng-model="veri">
			<input type="button" value="Tagları Temizle" ng-click="ayristir(veri)">
			<div ng-bind-html="tag"></div>
		</div>

		<div class="kutu kirmizi">
			<pre class="baslik">filter Kullanımı</pre>
			<input type="text" ng-model="filtre" placeholder="Borcu Giriniz">	
			<ul>
				<li>Borcu {{filtre}} TL nin altında olan kişiler</li>
				<li ng-repeat="x in isimler"> > {{x.ad }} {{x.borc}}</li>
			</ul>		
			<input type="button" value="Sonuçları Göster" ng-click="filtrele(filtre)">
		</div>
	</div>
</body>
</html>