<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Angular JS | Örnekler</title>
	
	<!--Js-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

		<script>
			var myController = angular.module("angular",[]);

			myController.controller("myControl",function ($scope,$http) {

				$scope.cumle = "Merhaba Angular"; 
				$scope.paragraf = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, similique."; 
				$scope.sayac = 0;
				$scope.mesaj = function () {

					alert("Angular js öğreniyorum!");
				}; 
				
				//URL si verilen adrese git işlem başarılı ise ilgili alanları çek 
				$http.get('https://jsonplaceholder.typicode.com/posts/1/comments').then(function (response) {
					$scope.veriler = response.data;
				})
			});
		</script>

		<script src="https://use.fontawesome.com/a97cb26257.js"></script>

		<script type="text/javascript" src="js/customize.js"></script>
	<!--Js End-->
	
	<!--CSS -->		
        <link rel="stylesheet" href="fonts/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
	<!--CSS End-->
</head>
<body ng-app="angular" ng-controller="myControl" ng-init="deger='angular kullanışlı bir js kütüphanesidir'">

	<div class="header">
		<h3>Angular JS Örnekleri</h3>
	</div>
	<div class="container">
		<div class="kutu mavi">
			
			<!--ng-model--> 
			<p>Net Hesaplama</p>

			<input type="text" ng-model="dogruSayisi" placeholder="Doğru Sayısı">
			<input type="text" ng-model="yanlisSayisi" placeholder="Yanlış Sayısı">
			
			<p>Net Sayısı: {{dogruSayisi - yanlisSayisi/4}}</p>

		</div>
		<div class="kutu kirmizi">
			
			<!--ng-init-->

			<p ng-bind="deger"></p><br>
			<input type="text" ng-value="deger"><br>

		</div>
		<div class="kutu sari">
			<input type="text" placeholder="Maillerde ara" ng-model="aranan">

			<ul>
				<li ng-repeat="data in veriler | filter:aranan">
					<span>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</span>{{data.email}}
				</li>
			</ul>
			<ul>
				<li ng-repeat="data in veriler">
					<span>
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>{{data.name}}
				</li>
			</ul>
		</div>
		<div class="kutu turuncu">
			<input type="button" ng-click="mesaj()" value="Mesaj">
		</div>
		<div class="kutu yesil">
			<p ng-style="sayac==5 && {'color':'white','background':'orange'}">Angular JS</p>

			<p>{{sayac}}</p>
			
			<input type="button" ng-click="sayac=sayac+1" value="Artır">
			<input type="button" ng-click="sayac=sayac-1" value="Azalt">
		</div>
		<div class="kutu mavi"></div>
		<div class="kutu kirmizi"></div>
	</div>
</body>
</html>